header{
    margin: 0 auto;
    padding-top: 47px;
    max-width: 1600px;
    height: 900px;
    background-image: url(./../image/header_bgimg.png);
    background-repeat: no-repeat;
    background-size: contain;
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__inner {
    }
    .header_logo {
    }
    .header__list {
        display: flex;
        gap: 50px;
    }
    .header__item {
    }
    .header_link {
        width: 71px;
        height: 27px;
        left: 664px;
        top: 47px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */
        
        
        color: #FFFFFF;
    }

    .header_link:hover{
        color: rgb(69, 172, 172);
    }

    .header_link:active{
        color: rgb(112, 48, 172);
    }
    .header__button-wrapper {
    }

    .header__button-link{
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 35px;
        width: 163px;
        height: 51px;
        background: #C9453B;
        border-radius: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF
    }


    .header__button-link:hover{
        background-color: #753d39;
    }

    .header__battin-wraper {
        
    }
    .header__battin-inner {
        margin-top: 208px;
        width: 804px;
    }
    .header__battin-header {
        margin-bottom: 30px;
        width: 804px;
        height: 154px;
        left: 218px;
        top: 286px;
        
        font-family: 'Gelasio';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 120%;
        /* or 78px */
        
        
        color: #FFFFFF;
    }
    .header__battin-text {
        margin-bottom: 40px;
        height: 87px;
        left: 230px;
        top: 470px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        /* or 29px */
        
        
        color: #FFFFFF;
        
        opacity: 0.6
    }
    .header__battin-link {
    }
    .header__button-link {
    }
}